html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  padding-top: 100px;

  @media (min-width: $resolution-xl) {
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.menu {
  a {
    color: $white;
  }
}

input::file-selector-button {
 background-color: transparent;
}

.content ol li {
  list-style: decimal;
  margin: 0 0 0 20px;
}

.content ul li {
  list-style: disc;
  margin: 0 0 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}