.wpcf7-form {
  textarea {
  
  }

  input, textarea {
    width: 100%;
    background: transparent;
    color: $black;
    padding: 10px;
    border: 1px solid $black;
  }

  .wpcf7-acceptance {
    label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
  }

  input[type=checkbox] {
    width: 20px;
    margin-right: 10px;
  }

  input[type=submit] {
    width: fit-content;
    background: $primary;
    color: $white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  select {
    padding: 10px;
  }
}