.navbar {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $white;

  @media (min-width: $resolution-xl) {
    position: static;
    height: 150px;
  }

  &__logo {
    display: flex;
    height: 60px;

    @media (min-width: $resolution-xl) {
      height: 80px;
    }
  }

  &__nav-mobile {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    top: $navigation-height-mobile;
    z-index: 5;
    left: 0; //IE fix
    background: $white;

    > ul {
      margin: 30px 0;
      padding: 0;

      > li {
        height: 100%;
        line-height: 48px;
        display: block;
        padding: 0;
        text-align: center;

        &.current_page_item {
          > a {
            //color: $primary;
          }
        }

        a {
          @include font-size(18);
          display: block;
          margin-bottom: $s;
          color: $text-color;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }
  }

  &__nav-desktop {
    display: none;
    align-items: center;

    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5rem;

        @media (min-width: $resolution-xxl) {
          margin-left: 2rem;
        }

        &:hover {
          .sub-menu {
            display: block;
          }
        }

        &:last-of-type a {
          display: block;
          width: fit-content;
          padding: 18px 35px;
          background-color: $primary;
          color: $white;
          line-height: 1;
          cursor: pointer;
        }

        /*&:nth-last-of-type(2) a {
          margin-left: 4rem;
          color: $primary;
          font-weight: 900;
        }*/

        a {
          height: 100%;
          display: flex;
          align-items: center;
          @include font-size(18);
          font-weight: 400;
          color: $text-color;
          text-align: center;
        }
        
        .sub-menu {
          display: none;
          position: absolute;
          top: 54px;
          padding: 0;
          width: 100%;
          list-style: none;
          background: #f4f4f4;

          li {
            height: 54px;;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    padding: 22px 9px 22px 9px;
    cursor: pointer;
    z-index: 5;
    background: $blue;
    border-radius: 5px;

    @media (min-width: $resolution-xl) {
      display: none;
    }

    &--open i {
      background: transparent;

      &:before {
        background: $white;
        top: 0;
        transform: rotate(135deg);
      }

      &:after {
        background: $white;
        top: 0;
        transform: rotate(225deg);
      }
    }
  }

  &__toggle-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: $white;
    transform: rotate(0);
    transition: transform 300ms 100ms;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: $white;
      transform: rotate(0);
      transition: transform 300ms 100ms;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }
}

/*.admin-bar {
  .navbar {
    margin-top: 32px;
  }
}*/

@media (min-width: $resolution-xl) {
  .navbar__nav-mobile {
    display: none
  }

  .navbar__nav-desktop {
    display: flex;
  }
}
